 body {
    background:#2E4159;
    color:#BF9D7E;
    font-family:Helvetica;
    font-size:90%;
    line-height:30px;
    margin:0;
  }

#tagMode {
	position:relative;
	top:10px;
	left:5px;
}

#tagWriterButton {
	position:absolute;
	top:40px;
	left:5px;
}


#lightControl {
	position:relative;
	width:300px;
	top:60px;
	left:5px;
}

#lightNumber {
  position:absolute;
  left: 100px;
}

#lightOn {
  position:absolute;
  left: 100px;
}


#bri {
  position:absolute;
  left:100px;
}

#hue {
  position:absolute;
  left:100px;
}

#sat {
  position:absolute;
  left:100px;
}

#songPicker {
	position:relative;
	top:80px;
	left:5px;
}

#songName {
  position:absolute;
  left:10px;
  color:#BF9D7E;
}

#playButton {
  position:absolute;
  top:80px;
  left:10px;
}

#stopButton {
  position:absolute;
   top:80px;
  left:90px;
}

#message {
	position:relative;
	top:140px;
	left:5px;
}
