<?xml version='1.0' encoding='utf-8'?>
<widget id="com.megster.keymaker" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Key Maker</name>
    <description>
        A sample Apache Cordova for the "Beginning NFC" O'Reilly Book.
    </description>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
</widget>
